body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #61dafb;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

h1 {
    color: #61dafb;
}

#generateButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generateButton:hover {
    background-color: #2196F3;
}

#password {
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    background-color: #61dafb;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
